html, body {
    height: 100%;
    /* color: red; */
}

p {
    margin-bottom: .5rem;
}

main {
    /* border: 1px solid red; */
    /* max-height: 50vh; */
    text-align: center;
    margin: 80px 0;
}

.img-fluid {
    max-height: 64vh;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    main {
        margin: 56px 0;
        padding: 0 1rem;
    }

    .splash {
        padding: 2rem 0;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  }
