html, body {
    height: 100%;
}

header .row, footer .row {
    height: 80px;
}

header img, footer img {
    padding: .5rem;
}

header img:hover {
    opacity: .5;
    transition: opacity .15s ease-in-out;
}

/* .btn-lg {
    padding: .8rem 1.6rem;
    font-size: 2.4rem;
    line-height: 1.6;
} */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}
